{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "tabWidth": 4,
  "useTabs": false,
  "lineWidth": 80,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "proseWrap": "always"
      }
    }
  ]
}
